.dup-button {
	display: inline-block;
	padding: 10px;
	margin: 10px auto;
	background-color: #f60014;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Lato', Helvetica, sans-serif;
	font-weight: 800;
	border-radius: 5px;
	transition: all .3s;
}

.dup-button:hover {
	background-color: $fff;
}

#domain-name {
	display: block;
	width: 300px;
	height: 50px;
	transition: all .3s;
}

#domain-name.success {
  border-left: 8px solid green ;
  padding-left: 8px; 
  background-color: lime;
}

#domain-name.success.fail {
	background-color: red;
	border: 0	;
}